{% extends 'base.html.twig' %}

{% block title %}Hello Wild-circus!{% endblock %}

{% block body %}

<h1 class="services_title">Wild circus, un cirque que pour les wilders</h1>

    <!-- Présentation d'équilibr' & Minceur -->
    <section id="ancre_service" class="service-section">
        <h2 class="services_subtitle">Nos spectacles</h2>
        <div class="cards_container">
                {% for show in show %}
                    <div class="service_card">
                        <p class="service_detail">{{ show.name }}</p>
                        <img src="../images/{{ show.image }}" class="presentation_img" alt="illustration">
                        <p class="service_detail">{{ show.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="ancre_service" class="service-section">
        <h2 class="services_subtitle">Nous venons près de chez vous</h2>
        <div class="cards_container">
                {% for city in city %}
                    <div class="service_card">
                        <p class="service_detail">{{ city.name }}</p>
                        <p class="service_detail">{{ city.adress }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="ancre_service" class="service-section">
        <h2 class="services_subtitle">Nos numéros</h2>
        <div class="cards_container">
                {% for performance in performance %}
                    <div class="service_card">
                        <p class="service_detail">{{ performance.name }}</p>
                        <p class="service_detail">{{ performance.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="ancre_service" class="service-section">
        <h2 class="services_subtitle">Nos prix</h2>
        <div class="cards_container">
                {% for price in price %}
                    <div class="service_card">
                        <p class="service_detail">Adult : {{ price.adult }}</p>
                        <p class="service_detail">Enfant : {{ price.children }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

